[user]
	name = Ben Chopson
	email = bchopson@users.noreply.github.com
[merge]
  conflictstyle = diff3
	tool = nvimdiff
[advice]
	detachedHead = false
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
