[include]
  path = ~/.config/delta/themes.gitconfig
[user]
	name = Ben Chopson
	email = bchopson@users.noreply.github.com
[merge]
  conflictstyle = zdiff3
	tool = nvimdiff
[advice]
	detachedHead = false
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[pager]
  diff = delta
[delta]
	navigate = true
  features = "mellow-barbet"
  side-by-side = false
